// Colors
$clr-primary: #08082A;
$clr-accent: #FF5B2E;
$clr-white: #FFF;

$linear-gradient: linear-gradient(315deg, #FF5A09 0%, #FF894E 100%);
$linear-gradient-secondary: linear-gradient(82.84deg, #4ACF8C 0%, #75EDA6 100%);

// Fonts
$ff-primary: 'Rubik', sans-serif;
$ff-secondary: 'Playfair Display', serif;
$ff-footer: 'Inter', sans-serif;
$ff-title: 'Poppins', sans-serif;